<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="navbar">


  <div class="left-side-bar">
    <div class="brand-logo">
      <a href="/">
        <img src="/vendors/images/logo.png" alt="" class="dark-logo" />
        <img
                src="/vendors/images/deskapp-logo-white.svg"
                alt=""
                class="light-logo"
        />
      </a>
      <div class="close-sidebar" data-toggle="left-sidebar-close">
        <i class="ion-close-round"></i>
      </div>
    </div>
    <!--왼쪽 나브바-->
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">

            <li>
                <a href="/" class="dropdown-toggle no-arrow">
								<span class="micon bi">
                                    <i class="icon-copy dw dw-name"></i>
								</span>
                    <span class="mtext"> Member </span>
                </a>
            </li>
            <li>
                <a href="/project" class="dropdown-toggle no-arrow">
								<span class="micon bi">
                                    <i class="icon-copy dw dw-calendar-5"></i>
								</span>
                    <span class="mtext"> Project </span>
                </a>
            </li>
            <li>
                <a href="/work" class="dropdown-toggle no-arrow">
								<span class="micon bi">
                                    <i class="icon-copy dw dw-time-management"></i>
								</span>
                    <span class="mtext"> Time Sheet </span>
                </a>
            </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="mobile-menu-overlay"></div>
</div>
</html>