<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="footer"  class="footer-wrap pd-20 mb-20 card-box" id="footer">
    <div class="footer">
        <div class="cont">
          <p class="comname"><img src="vendors/images/logo.png" alt="infowise"><b>(주)인포와이즈</b></p>
          <p class="address">서울특별시 영등포구 당산로 41길 11, SK V1 W동 705,706호  T.02-6450-0790  F.02-6450-0795</p>
          <p class="copyright">Copyright Inforwise Inc. All rights Reserved.</p>
        </div>
  </div>
</div>
</html>