<link rel="stylesheet" href="/src/styles/layer.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="project_register" class="layer_project_register layer lg" style="display: none;">
    <div class="layer_container" style="height: auto">
        <a onclick="close_project_register()" class="btn_layer_close" >
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>
        <div class="layer_header">
            <h2 class="title"> 프로젝트 등록페이지 </h2>
        </div>
        <div class="layer_content">
        <div class="bottom">
            <div class="user_bind">
                <div class="user_input">
                    <div class="input_box" id="name_input_box">
                        <h4 class="input_title">프로젝트 이름</h4>
                        <div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="name_input"></div>
                        <p class="input_error" id="name_input_error"></p>
                    </div>
                    <div class="input_box">
                        <h4 class="input_title">프로젝트 시작 날짜</h4>
                        <div class="input_item">
                            <input type="datetime-local" placeholder="프로젝트 시작 날짜" id="startDate_input">
                        </div>
                    </div>
                    <div class="input_box">
                        <h4 class="input_title">프로젝트 종료 날짜</h4>
                        <div class="input_item">
                            <input type="datetime-local" placeholder="프로젝트 종료 날짜" id="endDate_input">
                        </div>
                    </div>
                    <br>
                    <div class="input_box">
                        <input type="checkbox" name="check" id="input0" class="check">
                        <label class="check_label" for="input0">
                            <span  class="label_txt">사용 여부 체크</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="layer_btn">
            <a href="#" class="btn outlinegrey medium" onclick="close_project_register()"> 취소 </a>
            <a disabled="disabled" href="#" class="btn btn_save solid medium disabled" > 생성 </a>
        </div>
        </div>
    </div>
</div>