d<link rel="stylesheet" href="/src/styles/layer.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="project_edit" class="layer_project_edit layer lg" style="display: none;" >
    <div class="layer_container" style="height: auto">
        <a onclick="close_project_edit()" class="btn_layer_close">
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>
        <div class="layer_header">
            <h2 class="title"> 프로젝트 수정페이지 </h2>
        </div>
        <div class="layer_content">
        <div class="bottom">
            <div class="user_bind">
                <div class="user_input">
                    <div class="input_box" id="email_edit_input_box">
                        <h4 class="input_title">이메일</h4>
                        <div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="email_edit_input"></div>
                        <p class="input_error" id="email_edit_input_error"></p>
                    </div>
                    <div class="input_box" id="pw_edit_input_box">
                        <h4 class="input_title">비밀번호</h4>
                        <div class="input_item"><input type="password" autocomplete="off" class="input_txt" id="pw_edit_input"></div>
                        <p class="input_error" id="pw_edit_input_error"></p>
                    </div>

                    <div class="input_box" id="name_edit_input_box">
                        <h4 class="input_title">이름</h4>
                        <div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="name_edit_input"></div>
                        <p class="input_error" id="name_edit_input_error"></p>
                    </div>
                    <div class="input_box" id="team_edit_input_box">
                        <h4 class="input_title">그룹</h4>
                        <div class="input_item"><input type="text"  autocomplete="off" class="input_txt" id="team_edit_input"></div>
                        <p class="input_error" id="team_edit_input_error"></p>
                    </div>
                    <div class="input_box" id="hp_edit_input_box">
                        <h4 class="input_title">전화번호</h4>
                        <div class="input_item"><input type="text" maxlength="13" oninput="autoHyphen(this)" autoclete="off" class="input_txt" id="hp_edit_input"></div>
                        <p class="input_error" id="hp_edit_input_error"></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="layer_btn">
            <a href="#" class="btn outlinegrey medium" onclick="close_project_edit()"> 취소 </a>
            <a disabled="disabled" href="#" class="btn btn_edit solid medium disabled" >수정</a>
        </div>
        </div>
    </div>
</div>
