<link rel="stylesheet" href="/src/styles/layer.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="project_pic" class="layer_project_pic layer lg" style="display: none; ">
    <div class="layer_container" style="height: auto">
        <a onclick="close_project_pic()" class="btn_layer_close">
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>
        <div class="layer_header">
            <h2 class="title"> 프로젝트 담당자 관리 </h2>
        </div>
        <div class="layer_content">
        <div class="bottom">
            <div class="user_bind">
                <div class="user_input">
                    <div class="input_box" >
                        <h4 class="input_title">프로젝트 이름</h4>
                        <div class="input_item">
                            <p class="project_name">sample</p>
                        </div>
                    </div>
                    <div class="input_box" >
                        <h4 class="input_title">프로젝트 기간</h4>
                        <div class="input_item">
                            <p class="project_period">sample</p>
                        </div>
                    </div>
                    <div class="input_box" >
                        <h4 class="input_title">담당자 추가/삭제</h4>
                        <div class="input_item">
                            <p class="name">sample</p>
                        </div>
                        <div class="input_item">
                            <input type="text" autocomplete="off" class="input_txt" id="pic_input">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layer_btn">
            <a href="#" class="btn outlinegrey medium" onclick="close_project_pic()"> 취소 </a>
        </div>
        </div>
    </div>
</div>
</div>
</html>
