<link rel="stylesheet" href="/vendors/styles/layer.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="member_register" class="layer_member_register layer lg" style="display: none;">
    <div class="layer_container" style="height: auto">
        <a onclick="close_member_register()" class="btn_layer_close" >
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>
        <div class="layer_header">
            <h2 class="title"> 직원 등록페이지 </h2>
        </div>
        <div class="layer_content">
        <div class="bottom">
            <div class="user_bind">
                <div class="user_input">
                    <div class="input_box" id="email_input_box">
                        <h4 class="input_title">이메일</h4>
                        <div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="email_input"></div>
                        <p class="input_error" id="email_input_error"></p>
                    </div>
                    <div class="input_box" id="pw_input_box">
                        <h4 class="input_title">비밀번호</h4>
                        <div class="input_item"><input type="password" autocomplete="off" class="input_txt" id="pw_input"></div>
                        <p class="input_error" id="pw_input_error"></p>
                    </div>

                    <div class="input_box" id="name_input_box">
                        <h4 class="input_title">이름</h4>
                        <div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="name_input"></div>
                        <p class="input_error" id="name_input_error"></p>
                    </div>

                    <div class="input_box" id="hp_input_box">
                        <h4 class="input_title">전화번호</h4>
                        <div class="input_item"><input type="text" maxlength="13" oninput="autoHyphen(this)" autoclete="off" class="input_txt" id="hp_input"></div>
                        <p class="input_error" id="hp_input_error"></p>
                    </div>
                    <div class="input_box" id="team_input_box">
                        <h4 class="input_title mb-10">그룹</h4>
                        <select class="custom-select col-12" id="team_input">
                            <option value="데이터 컨설팅 그룹" selected>데이터 컨설팅 그룹</option>
                            <option value="MDM 컨설팅 그룹">MDM 컨설팅 그룹</option>
                            <option value="데이터서비스 그룹">데이터서비스 그룹</option>
                            <option value="데이터 R&I 그룹">데이터 R&I 그룹</option>
                            <option value="경영기획 그룹">경영기획 그룹</option>
                            <option value="기반데이터 연구소">기반데이터 연구소</option>
                        </select>
                    </div>
                    <div class="input_box" id="role_input_box">
                        <h4 class="input_title mb-10">권한</h4>
                        <select class="custom-select col-12" id="role_input">
                            <option value="USER" selected>User</option>
                            <option value="MANAGER">Manager</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="layer_btn">
            <a href="#" class="btn outlinegrey medium" onclick="close_member_register()"> 취소 </a>
            <a disabled="disabled" href="#" class="btn btn_save solid medium disabled" > 생성 </a>
        </div>
        </div>
    </div>
</div>